.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.distanceCard {
  display: inline;
}

#map {
  height: 500px;
  width: 500px;
}

#instructions {
  display: block;
}

#statsInfo {
  size: 50px;
}

#map {
  display: none;
}

.showDirections {
  display: none;
}

.hideDirections {
  display: none;
}

#directions {
  display: none;
}

.hiddenCards {
  display: none;
}

footer {
  margin-left: 10px;
}
