body {
    font-family: 'Cuprum', sans-serif;
}

nav {
    margin-top: -27px;
    background-color: #A7F5D5;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
    height: 80px;
}

#logo {
    color: #0A4863;
}

#slantedDiv {
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 85%, 0 100%);
    background-color: rgba(243, 243, 243, .35);
}

p {
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.distanceCard {
    display: inline;
}


#map {
    height: 500px;
    width: 900px;
    justify-content: center;
    display: none;
}

#instructions {
    display: block;
}

#statsInfo {
    font-size: 35px;
}

.showDirections {
    display: none;
}

.hideDirections {
    display: none;
}

#directions {
    display: none;
}

.hiddenCards {
    display: none;
}

footer {
    margin-left: 10px;
}


/* label color */
.input-field label {
    color: #152842;
    font-size: 15px;
    font-weight: bold;
}

/*form line color for text types*/
.input-field input[type=text] {
    border-bottom: 2px solid #A7F5D5;
}

/*form line color for number types*/
.input-field input[type=number] {
    border-bottom: 2px solid #A7F5D5;
}

/* form line focus color */
.input-field input:focus {
  border-bottom: 2px solid #0a4863;
}

/*dropdown text*/
.dropdown-content li>span {
  color: #152842;
  font-size: 15px;
  font-weight: bold;
}

/*dropdown label*/
input, optgroup, select, textarea {
  color: #152842;
  font-size: 15px;
  font-weight: bold;
}

#submit {
    background-color: #0a4863;
}

#showDirections {
    background-color: #0a4863;
    display: block;
}

#hideDirections {
    background-color: #0a4863;
    display: block;
}
